$black:             #000;
$white:             #fff;
$strawberrykiwi:    #EF1100;
$peachmango:        #EF4625;
$watermelon:        #F51841;
$greenapple:        #329D00;
$gray:              #55565A;

// Responsive 

$small: 	320px;
$medium: 	768px;
$large: 	1024px;
