button[ng-click],
a[ng-click] {
	cursor: pointer;
}
a.showHideRecipe {
    float: right;
    font-size: 40px;
    color: white;
    border: solid 4px white;
    padding: 1px 15px 8px;
    border-radius: 9px;
    line-height: 51px;

}
.div-show-hide-btn a.showHideRecip:hover,
.div-show-hide-btn a.showHideRecip:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,0.3);
}
.btn-ecom {
	padding: 25px 21px 7px;
}
.btn-back-address,
.btn-ecom {
	text-transform: uppercase;
	border: solid 10px $white;
	background: rgba($white, 0.65);
	font-family: "eloquent-jf-small-caps-pro"!important; 
	color: $black;
	font-size: 50px;
}
.btn-ecom-sm {
	text-transform: uppercase;
	border: solid 5px $white;
	background: rgba($white, 0.65);
	padding: 12.5px 10.5px 3.5px;
	font-family: "eloquent-jf-small-caps-pro"!important; 
	font-size: 25px;
	color: $black;
	// margin-top: 30px;
}
.btn-back-address {
	top: 37px;
	position: relative;
	padding: 24px 22px 7px;
}
.btn-ecom,
.btn-ecom-sm {
	-webkit-transition: 500ms ease;
	transition: 500ms ease;
}
.btn-ecom:hover,
.btn-ecom-sm:hover,
.btn-back-address:hover {
	color: $white !important;
	text-decoration: none !important;
	-webkit-transition: 500ms ease;
	transition: 500ms ease;
}
.btn-qty-ecom {
	font-size: 20px;
	color: $black;
	cursor: pointer;
	line-height: 32px;
}
.btn-qty-ecom:hover {
	text-decoration: none;
	color: $white;
}
.btn-round {
	border: solid 3px $black;
	border-radius: 50px;
	height: 40px;
	width: 40px;
	vertical-align: center;
}
.btn-underline {
	background: rgba($white,0);
	text-decoration: underline;
	color: $white;
	border: none;
	font-size: 50px;
}

@media screen and (max-width: $medium) {
	.btn-ecom {
		text-transform: uppercase;
		border: solid 10px $white;
		background: rgba($white, 0.65);
		padding: 25px 21px 7px;
		font-family: "eloquent-jf-small-caps-pro"!important; 
		font-size: 30px;
		color: $black;
		// margin-top: 30px;
	}
}
