.angular-google-map-container {
	height: 400px;
}
#address-wrapper {
	height: 200px;
	overflow: hidden;
	-webkit-transition: 200ms ease;
	transition: 200ms ease;
}

@media screen and (max-width: $medium) {
	#address-wrapper {
		height: 0;
	}
}