<footer class="footer-container">
    <div class="container-fluid">
        <div class="row  hidden-sm">
            <div class="col-sm-12 text-center hidden-xs">
                <button ng-click="viewMore();" class="btn-ecom-sm" id="view-more-btn">View More</button>
            </div>
        </div><!-- /.row -->
        <div class="row">
        <!--   <div class="col-sm-12 text-center">
            <a href="#top" id="bottom"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></a>
          </div> -->
          <div class="col-sm-4 col-sm-offset-4 text-center social-icons">
              <a href="https://www.instagram.com/risqenergy/" class="ssk ssk-icon ssk-instagram" title="Instagram"></a>
              <a href="https://www.facebook.com/risqenergy/" class="ssk ssk-icon ssk-facebook" title="Facebook"></a>
              <a href="mailto:info@risqenergy.com?subject=Hello" class="ssk ssk-icon ssk-email" title="Email Risq"></a>
          </div>
        </div><!-- /.row -->
    </div>
</footer>