<!-- Locations Content -->
<div ng-controller="MapCtrl">
  <div class="row">
      <div class="col-sm-12">
         <h2 class="title gray">Get It Local</h2>
      </div>

      <div class="col-sm-12">
      <!-- Google maps -->
         <ui-gmap-google-map 
            center='map.center' 
            zoom='map.zoom' 
            coords="marker.coords" 
            options="marker.options" 
            events="marker.events" 
            idkey="marker.id">

              <ui-gmap-marker 
                  ng-repeat="m in map.markers" 
                  coords="m.coords" 
                  icon="m.icon" 
                  idkey="m.id"
                  click="markerClick"
                  labelContent="m.label"
                  >
                    
              </ui-gmap-marker>
              <ui-gmap-polyline 
                  path="map.polyline.path" 
                  stroke="map.polyline.stroke" 
                  visible='map.polyline.visible' 
                  geodesic='map.polyline.geodesic' 
                  fit="false"></ui-gmap-polyline>
          
        </ui-gmap-google-map>
      <!-- Draw Markers -->
      </div>
  </div><!-- /.row -->
</div><!-- /.MapCtrl -->