 <div ng-controller="EcomCtrl" >
 <div class="space-lg"></div>
    <div class="row  bg-black" >
      <div class="col-sm-12" >  
        <div class="ecom-wrapper">
          <div ng-repeat="product in products">
            <h3 class="text-center white ecom-title">{{product.title}}</h3>
            <div class="ecom-border">
              <ul class="ecom-qty-wrapper">
                <li><div class="btn-round text-center"><a class="btn-qty-ecom" ng-click="decreaseItemCount(product)">-</a></div></li>
                <li><p class="ecom-total-qty">{{product.qty}}</p></li>
                    <li><div class="btn-round text-center"><a class="btn-qty-ecom" ng-click="increaseItemCount(product)">+</a></div></li>
                <li><p class="ecom-total-qty" ng-bind="sumCalc({{$index}})"></p></li>
              </ul>
            </div>
          </div>    
        </div>
      </div> 

      <div class="space"></div>

      <div class="col-md-12 text-center">
        <h4 class="white sub-total">Sub Total <span class="white sub-total" ng-bind="subTotal();"> </span></h4>
        <h4 class="white sub-total">Shipping <span class="white sub-total">{{ shipping | currency}}</span></h4>
        <h4 class="white sub-total">Total <span class="white sub-total" ng-bind="totalCalc();">{{ shipping | currency}}</span></h4>
      </div>
      <div class="space-lg"></div>
    </div><!--/.row-->

    <div class="space-lg"></div>

    <div class="row">
    <div class="col-md-12">
      <h1 class="gray title text-center">Where Should <br>We Ship</h1>
    </div>
    </div>

    <div class="space"></div>
    <div class="row bg-black">
    <div class="col-sm-12">
      <form id="payment-form" role="form" method="post" action="/submit-payment"> 
        <!-- csrf_token -->
        <input type="hidden" name="_token" value="{{ csrfTokenMobile }}">
        <input type="hidden" name="total" value="{{ objTotal }}">
        <input type="hidden" name="products" value="{{ products }}">
        <div class="space"></div>
        
        <input type="text" class="ecom-form" name="first-name" placeholder="First Name" required>
        <input type="text" class="ecom-form" name="last-name" placeholder="Last Name" required>
        <input type="text" class="ecom-form" name="Address Line 1" placeholder="Address Line 1" data-stripe="address_line1" required>
        <input type="text" class="ecom-form" name="Address Line 2" placeholder="Address Line 2" data-stripe="address_line2">
        <input type="text" class="ecom-form" name="City" placeholder="City" data-stripe="city" required>
        <select class="ecom-form" name="state" id="state" data-stripe="address_state" required>
                  <option>State</option>
                    <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AZ">AZ</option>
                    <option value="AR">AR</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="DC">DC</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="ME">ME</option>
                    <option value="MD">MD</option>
                    <option value="MA">MA</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MS">MS</option>
                    <option value="MO">MO</option>
                    <option value="MT">MT</option>
                    <option value="NE">NE</option>
                    <option value="NV">NV</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NY">NY</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WV">WV</option>
                    <option value="WI">WI</option>
                    <option value="WY">WY</option>
                </select>
                <input type="text" class="ecom-form" name="zip" placeholder="Zip" data-stripe="address_zip" required>
          <input type="email" class="ecom-form" name="email" placeholder="Email" data-stripe="email" required>  
          
          <div class="space-lg"></div>  
          <h1 class="white title text-center">What is billing information?</h1>
          <input type="text" class="ecom-form" placeholder="Name on card" data-stripe="name" required>  
          <input type="text" class="ecom-form" maxlength="20" type="number" data-stripe="number" placeholder="Card Number" required>
          <label class="mmyy-label">
            <input type="text" size="2" placeholder="MM" data-stripe="exp_month" class="ecom-form mmyy" id="expiry-month" required>
          </label>

          <label class="mmyy-label">
            <input type="text" size="2" placeholder="YY" data-stripe="exp_year" class="ecom-form mmyy" required>
          </label>

          <label class="mmyy-label">
            <input type="text" size="2" class="ecom-form" placeholder="CVC" data-stripe="cvc" class="ecom-form mmyy" required>
          </label>  
      
      <div class="space-lg"></div>
      <div class="col-sm-12 text-center">
       <h4><span class="payment-errors red hidden" id="errorMessageStripePayment"></span></h4>
      <span ng-bind="paymentButtonClickedShowErrorMessage();"></span>
        <div class="btn-checkout-wrapper">
          <div class="col-sm-6 col-12-no-padding-left">

            <button class="uppercase btn-ecom" type="submit" id="submit-form" value="Submit Payment">Purchase</button>
          </div>    
        </div>
      </div>
          <div class="space-lg"></div>
          </form>
    </div>
    </div> <!-- /.row -->       
<div class="space-lg"></div>
</div>
