<div ng-controller="EcomCtrl" >
<div class="row">
  <!-- Descriptioh -->
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h2 class="title gray">Pick your flavors or grab the Starter Pack!!</h2>
    <p class="gray location-info">The Starter Pack comes with 2 Strawberry Kiwi, 2 Peach Mango, 2 Watermelon, and 2 Green Apple Risq. Shipping is free on any order over $24.</p>
    <p class="gray location-info">Click on Grab Some below to order.</p>
  </div>
</div>  
<div class="space-lg"></div>
<div class="ecom-bg-image" id="ecom-image">
<!-- Mobile Button Ecommerce -->
<div class="row">
	<div class="col-sm-12 fadeOut">
		<div class="hidden-md hidden-lg hidden-xl">
		    <div class="btn-grab-wrapper">
		      <div class="text-center ecom-wrapper">
		        <a class="btn-ecom" href="/order">Grab Some</a>
		      </div> 
		    </div> 
		</div>
	</div>
</div><!--/.row-->
<!-- /.Mobile Button Ecommerce -->

<!-- Ecommerce Desktop -->
 
<div class="row">
<!-- View 1 -->
	<div class="col-sm-12 col-12-no-padding-left col-12-no-padding-right" id="view-1">
		<div class="hidden-xs hidden-sm">
            <div class="btn-grab-wrapper">
              <div class="text-center ecom-wrapper">
                <button class="btn-ecom-lg" ng-click="grabSome()">Grab Some</button>
              </div> 
            </div> 
        </div>    
    </div>
<!-- /.View 1 -->

<!-- View 3 -->
<div class="col-sm-12 col-12-no-padding-left col-12-no-padding-right horizTran-50 fadeIn" id="view-3">
	<div class="col-sm-6 bg-black">
		<div class="ecom-qty-wrapper">
			<h1 class="white uppercase">Is this everything?</h1>

		<div class="space"></div>

		<table class="ecom-table">
			<tr>
				<td class="ecom-col"><h4 class="white sub-total">Sub Total</h4></td>
				<td class="text-right"><h4 class="white sub-total" ng-bind="subTotal();"></h4></td>
			</tr>
			<tr>
				<td class="ecom-col"><h4 class="white sub-total">Sales Tax</h4></td>
				<td class="text-right"><h4 class="white sub-total">{{ tax | currency}}</h4></td>
			</tr>  
			<tr>
				<td class="ecom-col"><h4 class="white sub-total">Shipping</h4></td>
				<td class="text-right"><h4 class="white sub-total">{{ shipping | currency}}</h4></td>
			</tr> 
			<tr class="ecom-table-total">
				<td class="ecom-col"><h4 class="white sub-total uppercase">Total</h4></td>
				<td class="text-right"><h4 class="white sub-total uppercase" ng-bind="totalCalc();"></h4></td>
			</tr>  
		</table>
		<div class="btn-checkout-wrapper">
			<div class="text-center ecom-wrapper">
				<a class="btn-ecom" ng-click="checkout();">Checkout</a>
			</div> 
		</div>

		</div>
	</div>
 </div> 
<!-- /.view 3 -->

<!-- View 2 -->
	<div class="col-sm-12 col-12-no-padding-left col-12-no-padding-right" id="view-2">
		<div class="col-sm-6 bg-black" >  
			<div class="ecom-wrapper">
				<div ng-repeat="product in products">
					<h3 class="text-center white ecom-title">{{product.title}}</h3>

				<div class="ecom-border">
					<ul class="ecom-qty-wrapper">
						<li><div class="btn-round text-center"><a class="btn-qty-ecom" ng-click="decreaseItemCount(product)">-</a></div></li>
						<li><p class="ecom-total-qty" data-stipe="order" >{{product.qty}}</p></li>
            <li><div class="btn-round text-center"><a class="btn-qty-ecom" ng-click="increaseItemCount(product)">+</a></div></li>
						<li><p class="ecom-total-qty" ng-bind="sumCalc({{$index}})"></p></li>
					</ul>
				</div>

				</div>    
			</div>
		</div> 

	<div class="col-sm-6">
		<div class="btn-addToCart-wrapper">
			<div class="text-center ecom-wrapper">
        <span ng-bind="checkCart()"></span>
				<button class="btn-ecom" href="" ng-click="addToCart()" id="addToCartBtn">Add to cart</button>
			</div> 
		</div> 
	</div>
</div>
<!-- /.View 2 -->

<!-- View 4 --> 
  <!-- <form id="payment-form" role="form" method="post" action="/submit-payment">  -->
  <form id="payment-form" role="form" method="post" name="payment-form" action="/submit-payment"> 
    
    <div class="col-sm-12 bg-black fadeIn fadeOut" id="view-4">
      <div class="ecom-qty-wrapper">
       <h1 class="white uppercase">Where Should We Ship</h1>
       <h4><span id="errorMessage" class="hidden red">Please fill out all required fields.</span></h4>
       
    
          <!-- csrf_token -->
          <input type="hidden" name="_token" value="{{ csrfToken }}">
          <input type="hidden" name="total" value="{{ objTotal }}">
          <input type="hidden" name="products" value="{{ products }}">
          
          <div class="col-sm-6">
            <input type="text" class="ecom-form ecom-form-selector" name="first-name" placeholder="First Name">
          </div>
          <div class="col-sm-6">
            <input type="text" class="ecom-form ecom-form-selector" name="last-name" placeholder="Last Name">
          </div>
          <div class="col-sm-12">
            <input type="text" class="ecom-form ecom-form-selector" name="address-line-1" placeholder="Address Line 1" data-stripe="address_line1">
          </div>
          <div class="col-sm-12">
            <input type="text" class="ecom-form ecom-form-selector" name="address-line-2" placeholder="Address Line 2" data-stripe="address_line2">
          </div>
          <div class="col-sm-6">
            <input type="text" class="ecom-form ecom-form-selector" name="city" placeholder="City" data-stripe="address_city">
          </div>
          <div class="col-sm-2">
            <input type="text" class="ecom-form ecom-form-selector" name="state" maxlength="2" placeholder="State" data-stripe="address_state">
            <!-- <input type="text" class="ecom-form" placeholder="State" required> -->
           <!--  <select class="ecom-form ecom-form-selector" name="state" id="state"  data-stripe="address_state" required>
                <option>State</option>
                <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AZ">AZ</option>
                    <option value="AR">AR</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="DC">DC</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="ME">ME</option>
                    <option value="MD">MD</option>
                    <option value="MA">MA</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MS">MS</option>
                    <option value="MO">MO</option>
                    <option value="MT">MT</option>
                    <option value="NE">NE</option>
                    <option value="NV">NV</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NY">NY</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WV">WV</option>
                    <option value="WI">WI</option>
                    <option value="WY">WY</option>
              </select> -->
          </div>  
          <div class="col-sm-4">
            <input type="text" class="ecom-form ecom-form-selector" name="zip" placeholder="Zip" data-stripe="address_zip">
          </div>
          
          <div class="col-sm-12">
            <input type="email" class="ecom-form ecom-form-selector" name="email" placeholder="Email" data-stripe="email">
          </div> 
          
          <div class="col-sm-9 ecom-btn-padding">
            <a class="btn-ecom btn-back-address" ng-click="paymentInput();" id="payment-animation-button">Payment</a>
          </div> 
          
          <div class="col-sm-3 ecom-btn-padding text-right">
            <a class="btn-ecom btn-back-address" ng-click="checkoutBack();">Back</a>
          </div>
          
          <!-- <div class="payment-errors"></div> -->
      </div><!--  /.ecom-qty-wrapper --> 
    </div><!-- /.View-4 -->

    <!-- View 5 -->  
    <div class="col-sm-12 bg-black fadeIn" id="view-5">
      <div class="ecom-qty-wrapper">
       <h1 class="white uppercase">What is billing information?</h1>
       <h4><span class="payment-errors red" id="errorMessageStripePayment"></span></h4>

          <div class="col-sm-12">
            <input type="text" class="ecom-form" placeholder="Full Name" data-stripe="name">
          </div>
          <div class="col-sm-12">
            <input type="text" class="ecom-form" maxlength="20" type="number" data-stripe="number" placeholder="Card Number">
          </div>
            <div class="col-sm-12">
              <label class="mmyy-label ecom-margin">
                <input type="text" size="2" placeholder="MM" maxlength="2"  data-stripe="exp_month" class="ecom-form mmyy" id="expiry-month">
              </label>

              <label class="mmyy-label ecom-margin">
                <input type="text" size="2" placeholder="YY" maxlength="2"  data-stripe="exp_year" class="ecom-form mmyy">
              </label>

              <label class="mmyy-label ecom-margin">
                <input type="text" class="ecom-form" maxlength="4"  placeholder="CVC" data-stripe="cvc" class="ecom-form mmyy">
              </label>  
            </div>
          
          <div class="col-sm-12">
            <div class="btn-checkout-wrapper">
            <div class="col-sm-3 pull-right">
              <a class="btn-back-address" ng-click="backToAddress();">Back</a>
            </div>
            <div class="col-sm-9 col-12-no-padding-left">
            <!-- <span ng-bind="paymentButtonClickedShowErrorMessage();"></span> -->
              <button class="uppercase btn-ecom" type="submit" id="submit-form" value="Submit Payment">Purchase</button>
            </div>   
            </div>
          </div>
      </div><!-- /.ecom-qty-wrapper --> 
    </div><!-- /.View-5 -->
</form>

    <!-- View 6 -->
    <div class="col-sm-12 text-center hidden">
      <div class="ecom-order-sent">
        <h3 class="black uppercase">Order Sent</h3>
        <p>{{products.qty}} Item Shipped</p>
      </div>
    </div><!-- /.View 6 -->
</div><!--/.row-->
</div>
<!-- /.Ecommerce Desktop -->
</div><!--/.controller-->