<nav class="nav">
    <div class="container">
        <div class="row">
        
            <!-- Nav -->
            <div class="risq-nav">
                <div class="risq-brand">
                    <a href="/"><img src="assets/img/risq-energy-logo.png" /></a>
                    <div class="risq-social-icons ssk-lg">
                        <h2><a href="https://www.instagram.com/risqenergy/">Drink it - Mix it - Share it</a></h2>
                        <a href="https://www.instagram.com/risqenergy/" class="ssk ssk-icon ssk-instagram" title="Instagram"></a>
                        <a href="https://www.facebook.com/risqenergy/" class="ssk ssk-icon ssk-facebook" title="Facebook"></a>
                        <a href="mailto:info@risqenergy.com?subject=Hello" class="ssk ssk-icon ssk-email" title="Email Risq"></a>
                    </div>
                </div>
            </div>
            <!-- /.nav -->

            <!-- Hero Image -->
            <div class="navigation-img">
                <img alt="Risq Energy Drink" class="img-responsive"  src="assets/img/risq-energy-hero-img.jpg">
            </div>
            <!-- /.Hero Image -->

            <!-- Hero Image Two -->
            <div class="img-responsive">
                <img alt="Risq Energy Drink" class="img-responsive" src="assets/img/risq-energy-hero-2-img.jpg">
            </div>
            <!-- /.Hero Image Two -->
        </div>
    </div>
</nav>